@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

@cl-purp: #5D00F4;
@cl-black: #404040;
@cl-white: #FFFFFF;

@xl-size: 81px;
@lg-size: @xl-size * (2/3);
@md-size: @lg-size * (2/3);
@sm-size: @md-size * (2/3);

html, body, #__nuxt, .app-container {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: @sm-size;
    font-weight: 400;
}