@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i0HTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  transition: 0.35s;
}
html,
body,
#__nuxt,
.app-container {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404040;
}
/* Кастомизация для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
  /* Тонкая вертикальная полоса */
  height: 4px;
  /* Тонкая горизонтальная полоса */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  /* Едва заметный цвет */
  border-radius: 10px;
  /* Закругление углов */
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* Более заметный при наведении */
}
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Прозрачный трек */
  border-radius: 10px;
  /* Скругление для трека */
}
/* Кастомизация для Firefox */
* {
  scrollbar-width: thin;
  /* Тонкая полоса прокрутки */
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  /* Цвет полосы и трека */
}
/* Плавный инерционный скроллинг для устройств Apple */
body {
  -webkit-overflow-scrolling: touch;
}
